{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main>
    <div class="py-4">
            <div class="container">
                <div class="text-center text-md-center mb-4 mt-md-0">
                    Возникла проблема с активацией вашей учетной записи.
                </div>
            </div>
    </div>
</main>
{% endblock content %}
{% block javascripts %}
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpbh-mt'},{'server':'p3plmcpnl487010'},{'id':'8437534'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>
{% endblock javascripts %}
