

{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <p class="text-center"><a href="./sign-in.html"
                                          class="d-flex align-items-center justify-content-center">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                    Вернуться на главную страницу
                </a>
                </p>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                        <h1 class="h3 mb-4">Введите Email для восстановления пароля</h1>
                        <form method="post" action="" class="mt-4">
                            {% csrf_token %}

                            <!-- Form -->
                            <div class="form-group mb-4">
                                    <label for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-envelope"></span>
                                        </span>
                                        <input class="form-control" id="{{ form.email.auto_id }}"
                                           name="{{ form.email.name }}"
                                           autocomplete="{{ form.email.name }}"
                                           type="email"
                                           placeholder="Email">
<!--                                        {{ form.email }}-->
                                    </div>
                                    <span class="text-error">{{ form.email.errors }}</span>
                            </div>

                            <!-- End of Form -->
                            <div class="d-grid">
                                <input type="submit" class="btn btn-gray-800"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

